body {
    padding: 0;
    margin: 0;
}

div#cat {
    background-color: lightgray;
    color: white;
    font-family: sans-serif;
}

div#q {
    padding: 0.5em;
    background-color: white;
    color: black;
    text-align: center;
}

div.double div#q {
    border-bottom: thin solid black;
}

div#a {
    padding: 0.5em;
    background-color: white;
    color: black;
    text-align: center;
}

